Repository intuitem/ciso-assistant-community, pull requests merged in 2025-04, with the labels that each got.

#1804 feat: create a link between vulns and assets and align severity management
  backend/core/migrations/0065_vulnerability_assets_alter_finding_severity_and_more.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/views.py
  frontend/src/lib/components/DetailView/DetailView.svelte
  frontend/src/lib/components/Forms/ModelForm/FindingForm.svelte
  frontend/src/lib/components/Forms/ModelForm/VulnerabilitiesForm.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
Labels: data-model

#1771 feat: added labels to evidences
  backend/core/migrations/0066_evidence_filtering_labels.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/views.py
  frontend/src/lib/components/Forms/ModelForm/EvidenceForm.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
Labels: data-model

#1833 feat: support impact field for applied controls
  backend/core/migrations/0067_appliedcontrol_control_impact_and_more.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/views.py
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/src/lib/components/Forms/ModelForm/AppliedControlPolicyForm.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
Labels: data-model

#1850 fix: filter audits in ebios rm baseline page
  frontend/src/routes/(app)/(internal)/ebios-rm/[id=uuid]/workshop-1/baseline/+page.svelte
Labels: bug

#1781 feat: tasks management with periodic schedule
  backend/core/migrations/0068_tasktemplate_tasknode.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/startup.py
  backend/core/tests/test_task.py
  backend/core/urls.py
  backend/core/utils.py
  backend/core/views.py
  documentation/architecture/data-model.md
  documentation/functional_testing/architecture.md
  enterprise/frontend/src/lib/components/SideBar/navData.ts
  frontend/messages/ar.json
  frontend/messages/cs.json
  frontend/messages/de.json
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/messages/fr.json
  frontend/messages/hi.json
  frontend/messages/id.json
  frontend/messages/nl.json
  frontend/messages/pl.json
  frontend/messages/pt.json
  frontend/messages/ro.json
  frontend/messages/ur.json
  frontend/package.json
  frontend/src/lib/components/Calendar/Calendar.svelte
  frontend/src/lib/components/Calendar/Day.svelte
  frontend/src/lib/components/Calendar/Notifications.svelte
  frontend/src/lib/components/Forms/AutocompleteSelect.svelte
  frontend/src/lib/components/Forms/ModelForm.svelte
  frontend/src/lib/components/Forms/ModelForm/TaskNodeForm.svelte
  frontend/src/lib/components/Forms/ModelForm/TaskTemplateForm.svelte
  frontend/src/lib/components/Forms/NumberField.svelte
  frontend/src/lib/components/Forms/Select.svelte
  frontend/src/lib/components/Forms/TextField.svelte
  frontend/src/lib/components/SideBar/navData.ts
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/stores.ts
  frontend/src/lib/utils/table.ts
  frontend/src/lib/utils/types.ts
  frontend/src/routes/(app)/(internal)/calendar/+page.server.ts
  frontend/src/routes/(app)/(internal)/calendar/+page.svelte
  frontend/src/routes/(app)/(internal)/calendar/[year]/[month]/+page.server.ts
  frontend/src/routes/(app)/(internal)/calendar/[year]/[month]/+page.svelte
  frontend/src/routes/(authentication)/first-connexion/+page.svelte
  frontend/tests/functional/detailed/login.test.ts
  frontend/tests/functional/nav.test.ts
Labels: High Value, data-model

#1899 fix: migrations order
  backend/core/migrations/0069_auto_20250414_2023.py
Labels: hotfix

#1580 docs: CreateModal/ModelForm fields order
  documentation/createmodal-order.md
Labels: documentation
