Repository intuitem/ciso-assistant-community, pull requests merged in 2025-07, with the labels that each got.

#2179 feat(lib): Adobe CCF v5 Mappings
  backend/library/libraries/mapping-adobe-ccf-v5-and-bsi-c5-2020.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-and-cyber_essentials_requirements_for_it_infrastructure.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-and-fedramp-rev5.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-and-iso27001-2022.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-and-nist-csf-1.1.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-and-pcidss-4_0.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-and-soc2-2017-rev-2022.yaml
  backend/library/libraries/mapping-adobe-ccf-v5-to-iso27001-2022.yaml
  tools/excel/ENS decreto/ENS-decreto.xlsx
  tools/excel/adobe/adobe-ccf-v5_mapping_exporter.py
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-bsi-c5-2020.xlsx
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-cyber_essentials_requirements_for_it_infrastructure.xlsx
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-fedramp-rev5.xlsx
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-iso27001-2022.xlsx
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-nist-csf-1.1.xlsx
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-pcidss-4_0.xlsx
  tools/excel/adobe/mappings/mapping-adobe-ccf-v5-and-soc2-2017-rev-2022.xlsx
  tools/excel/mapping-adode-ccf/mapping-adobe-ccf-v5-to-iso27001-2022.xlsx
  tools/excel/pci-dss/pcidss.xlsx
  tools/excel/pci-dss/pcidss_new.xlsx
Labels: python, Mapping

#2238 feat(tool): prepare_mapping_v2.py
  tools/prepare_mapping_v2.py
Labels: python, Mapping

#2233 fix: publish qualifications in root folder
  backend/core/migrations/0080_auto_20250703_1217.py
  backend/core/models.py
Labels: data-model

#2243 fix(lib): Mitre ATT&CK Framework in French (FR)
  backend/library/libraries/mitre-attack.yaml
  tools/excel/mitre/mitre-attack.xlsx
Labels: Framework

#2131 feat: OIDC
  backend/ciso_assistant/settings.py
  backend/core/urls.py
  backend/iam/adapter.py
  backend/iam/sso/errors.py
  backend/iam/sso/oidc/__init__.py
  backend/iam/sso/oidc/urls.py
  backend/iam/sso/oidc/views.py
  backend/iam/sso/saml/views.py
  backend/iam/sso/serializers.py
  charts/ciso-assistant/templates/statefulset.yaml
  enterprise/backend/enterprise_core/settings.py
  enterprise/legacy/docker-compose-remote.yml
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/src/lib/components/Forms/AutocompleteSelect.svelte
  frontend/src/lib/components/Forms/ModelForm/SsoSettingForm.svelte
  frontend/src/lib/components/Forms/RadioGroup.svelte
  frontend/src/lib/utils/schemas.ts
  frontend/src/routes/(app)/(internal)/settings/+page.server.ts
Labels: High Value

#2265 fix(tool): CIS 8.x.x Framework Converter
  tools/excel/cis/convert_cis.bat
  tools/excel/cis/convert_cis.sh
  tools/excel/cis/prep_cis.py
Labels: Framework, python, bugfix

#2236 feat: manage inherent risk
  backend/core/helpers.py
  backend/core/migrations/0082_riskscenario_inherent_impact_and_more.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/templates/snippets/ra_data.html
  backend/core/templates/snippets/ri_list_nested.html
  backend/core/views.py
  backend/global_settings/serializers.py
  backend/global_settings/utils.py
  frontend/messages/en.json
  frontend/src/lib/components/Forms/ModelForm/FeatureFlagsSettingForm.svelte
  frontend/src/lib/components/ModelTable/ModelTable.svelte
  frontend/src/lib/components/RiskMatrix/Legend.svelte
  frontend/src/lib/components/RiskMatrix/RiskMatrix.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
  frontend/src/routes/(app)/(internal)/analytics/+page.server.ts
  frontend/src/routes/(app)/(internal)/analytics/+page.svelte
  frontend/src/routes/(app)/(internal)/loaded-libraries/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/risk-assessments/[id=uuid]/+layout.server.ts
  frontend/src/routes/(app)/(internal)/risk-assessments/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/risk-matrices/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/risk-scenarios/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/risk-scenarios/[id=uuid]/edit/+page.svelte
  frontend/src/routes/(app)/(internal)/stored-libraries/[id=uuid]/+page.svelte
Labels: data-model

#2256 feat(tool): convert_framework_yaml_to_excel.py
  tools/misc/convert_framework_yaml_to_excel.py
Labels: Framework, python

#2267 fix(lib): NIS2 Framework URN Fix
  backend/core/migrations/0083_fix_nis2_framework.py
  backend/library/libraries/annex-implementing-regulation-of-nis2-on-t-m.yaml
  backend/library/libraries/mapping-annex-technical-and-methodological-requirements-nis2-and-ccb-cff-2023-03-01.yaml
  backend/library/libraries/mapping-annex-technical-and-methodological-requirements-nis2-and-iso27001-2022.yaml
  backend/library/libraries/mapping-annex-technical-and-methodological-requirements-nis2-and-nist-csf-2.0.yaml
  tools/excel/NIS2/Annex-Implementing-Regulation-of-NIS2-on-T-M.xlsx
  tools/excel/NIS2/mappings/mapping-annex-technical-and-methodological-requirements-nis2-and-ccb-cff-2023-03-01.xlsx
  tools/excel/NIS2/mappings/mapping-annex-technical-and-methodological-requirements-nis2-and-iso27001-2022.xlsx
  tools/excel/NIS2/mappings/mapping-annex-technical-and-methodological-requirements-nis2-and-nist-csf-2.0.xlsx
Labels: Framework

#2279 feat: default assignee for perimeter
  backend/core/migrations/0084_perimeter_default_assignee.py
  backend/core/models.py
  backend/core/serializers.py
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/src/lib/components/Forms/ModelForm/PerimeterForm.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
Labels: data-model

#2321 fix(lib): NIST SP-800-82 Annex F Framework
  backend/library/libraries/nist-sp-800-82-annex-f.yaml
  tools/excel/nist-sp-800-82-annex-f_new.xlsx
  tools/excel/nist/sp-800-82/nist-sp-800-82-annex-f.xlsx
  tools/nist-sp-800-82-annex-f.xlsx
Labels: Framework

#2176 feat: add EBIOS RM selection via context menu
  frontend/messages/ar.json
  frontend/messages/cs.json
  frontend/messages/da.json
  frontend/messages/de.json
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/messages/fr.json
  frontend/messages/hi.json
  frontend/messages/hu.json
  frontend/messages/id.json
  frontend/messages/it.json
  frontend/messages/nl.json
  frontend/messages/pl.json
  frontend/messages/pt.json
  frontend/messages/ro.json
  frontend/messages/sv.json
  frontend/messages/ur.json
  frontend/src/lib/components/ContextMenu/ebios-rm/SelectObject.svelte
  frontend/src/lib/components/ModelTable/ModelTable.svelte
  frontend/src/lib/utils/table.ts
Labels: High Value

#2320 feat(lib): Example Framework
  tools/README.md
  tools/example_framework.xlsx
Labels: documentation, Framework

#2328 feat: support risk action plan export into xlsx
  backend/core/views.py
  frontend/src/routes/(app)/(internal)/risk-assessments/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/risk-assessments/[id=uuid]/action-plan/export/excel/+server.ts
Labels: High Value

#2340 fix: synchronize timeline entries folder with their incident
  backend/core/migrations/0085_auto_20250725_0939.py
  backend/core/models.py
Labels: data-model

#2359 fix: limit inspect mode to frameworks page to avoid broken links
  frontend/src/routes/(app)/(internal)/loaded-libraries/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/loaded-libraries/[id=uuid]/TreeViewItemContent.svelte
Labels: ui

#2360 fix(lib): Add Link to Official NIS2 Framework
  backend/library/libraries/annex-implementing-regulation-of-nis2-on-t-m.yaml
  tools/excel/NIS2/Annex-Implementing-Regulation-of-NIS2-on-T-M.xlsx
Labels: Framework
