Repository intuitem/ciso-assistant-community, pull requests merged in 2025-06, with the labels that each got.

#2063 feat: add global evidence in compliance assessments
  backend/core/migrations/0078_complianceassessment_evidences.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/views.py
  documentation/architecture/data-model.md
  frontend/src/lib/components/Forms/ModelForm/ComplianceAssessmentForm.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
  frontend/src/routes/(app)/(third-party)/compliance-assessments/[id=uuid]/+page.svelte
Labels: data-model

#2081 feat(lib): Cisco CCF v3.0 Framework + Framework Tool
  backend/library/libraries/cisco-ccf-v3.0.yaml
  tools/excel/adobe/Open_Source_CCF.xlsx
  tools/excel/adobe/adobe-ccf-v5.xlsx
  tools/excel/adobe/convert_ccf.py
  tools/excel/cisco/Cisco-CCFv3-Public.xlsx
  tools/excel/cisco/cisco-ccf-v3.0.xlsx
  tools/excel/cisco/cisco-ccf-v3.0_framework.py
  tools/misc/prepare_framework_v2.py
  tools/misc/prepare_framework_v2_config.yaml
Labels: Framework, python

#2084 docs: Update README.md
  README.md
Labels: documentation

#2077 fix(lib): SOC2 2017 with Rev2022 Framework
  backend/library/libraries/soc2_2017_with_rev_2022.yaml
  tools/excel/aicpa/SOC2_2017_with_rev_2022.xlsx
  tools/excel/aicpa/SOC2_2017_with_rev_2022_new.xlsx
Labels: Framework

#2052 feat(lib): Mapping NIST CSF v2 to ISO27001:2022
  backend/library/libraries/mapping-nist-csf-2.0-to-iso27001-2022.yaml
  tools/excel/nist/csf2.xlsx
  tools/excel/nist/mapping-nist-csf-2.0-to-iso27001-2022_new.xlsx
  tools/excel/nist/nist_csf_2.0_to_iso27001-2022.py
Labels: Mapping

#2046 feat(lib): NIST SP-800-66 Rev2 Mappings + Mapping Tools
  backend/library/libraries/mapping-nist-sp-800-66-rev2-to-nist-csf-1.1.yaml
  backend/library/libraries/mapping-nist-sp-800-66-rev2-to-nist-csf-2.0.yaml
  backend/library/libraries/mapping-nist-sp-800-66-rev2-to-nist-sp-800-53-rev5.yaml
  tools/excel/nist/mapping-nist-csf-1.1-iso27001-2022.xlsx
  tools/excel/nist/mapping-nist-csf-1.1-nist-csf-2.0.xlsx
  tools/excel/nist/sp-800-66/mapping-nist-sp-800-66-rev2-to-nist-csf-1.1_new.xlsx
  tools/excel/nist/sp-800-66/mapping-nist-sp-800-66-rev2-to-nist-csf-2.0_new.xlsx
  tools/excel/nist/sp-800-66/mapping-nist-sp-800-66-rev2-to-nist-sp-800-53-rev5_new.xlsx
  tools/misc/convert_mapping_yaml_to_excel.py
  tools/misc/mapping_merger.py
Labels: python, Mapping

#1989 feat: evidence in follow-up
  backend/core/migrations/0079_finding_evidences_findingsassessment_evidences.py
  backend/core/models.py
  backend/core/serializers.py
  backend/core/views.py
  frontend/messages/ar.json
  frontend/messages/cs.json
  frontend/messages/da.json
  frontend/messages/de.json
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/messages/fr.json
  frontend/messages/hi.json
  frontend/messages/hu.json
  frontend/messages/id.json
  frontend/messages/it.json
  frontend/messages/nl.json
  frontend/messages/pl.json
  frontend/messages/pt.json
  frontend/messages/ro.json
  frontend/messages/sv.json
  frontend/messages/ur.json
  frontend/src/lib/components/Forms/ModelForm/FindingForm.svelte
  frontend/src/lib/components/Forms/ModelForm/FindingsAssessmentForm.svelte
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
Labels: data-model

#2096 feat(lib): FINMA 2023/01 Framework + Framework Tool
  README.md
  backend/library/libraries/finma-2023-01.yaml
  tools/excel/finma/finma-2023-01.xlsx
  tools/excel/finma/finma-2023-01_framework.py
  tools/excel/finma/finma_rs_2023_01_20221207_de.pdf
  tools/excel/finma/finma_rs_2023_01_20221207_en.pdf
  tools/excel/finma/finma_rs_2023_01_20221207_fr.pdf
  tools/excel/finma/finma_rs_2023_01_20221207_it.pdf
  tools/misc/footnote_reference_prettifier.py
Labels: Framework

#2129 feat(lib): CyberFundamentals Framework in Dutch (NL)
  backend/library/libraries/ccb-cff-2023-03-01.yaml
  tools/excel/ccb/CyFUN_ESSENTIEEL_V2023-03-01_N_update 2024.pdf
  tools/excel/ccb/ccb-cff-2023-03-01.xlsx
  tools/excel/ccb/ccb-cff-2023-03-01_framework_NL.py
  tools/excel/ccb/pdf_text_extractor_NL.py
  tools/misc/prepare_framework_v2.py
Labels: Framework

#2089 feat(api): endpoint to update requirement and and a Prefect implementation using it
  automation/.python-version
  automation/README.md
  automation/hello.py
  automation/prefect_impl.py
  automation/prowler_helpers/__init__.py
  automation/prowler_helpers/utils.py
  automation/pyproject.toml
  automation/settings.sample.json
  automation/uv.lock
  backend/core/management/commands/reset_audit.py
  backend/core/views.py
Labels: automation

#2136 feat(lib): Post-Quantum Cryptography (PQC) Migration Roadmap (May 2025) Framework
  README.md
  backend/library/libraries/pqc-migration-roadmap.yaml
  tools/excel/pqcc/PQC-Migration-Roadmap-PQCC-2.pdf
  tools/excel/pqcc/pqc-migration-roadmap.xlsx
Labels: Framework

#2133 feat(lib): ISO27001:2022 Framework in Swedish (SV)
  backend/library/libraries/iso27001-2022.yaml
  tools/excel/iso27001/iso27001-2022.xlsx
  tools/excel/iso27001/iso27001-2022_new.xlsx
Labels: Framework

#2196 fix(tool): Update convert_library_v2.py
  tools/convert_library_v2.py
Labels: Framework, python, Mapping
