Repository intuitem/ciso-assistant-community, pull requests merged in 2025-10, with the labels that each got.

#2625 feat: introduce PMBOK and support accreditation (homologations)
  backend/ciso_assistant/settings.py
  backend/core/migrations/0100_alter_terminology_field_path.py
  backend/core/models.py
  backend/core/startup.py
  backend/core/urls.py
  backend/core/views.py
  backend/crq/views.py
  backend/ebios_rm/views.py
  backend/global_settings/serializers.py
  backend/library/libraries/checklist-dossier-homologation.yaml
  backend/pmbok/__init__.py
  backend/pmbok/admin.py
  backend/pmbok/apps.py
  backend/pmbok/migrations/0001_initial.py
  backend/pmbok/migrations/__init__.py
  backend/pmbok/models.py
  backend/pmbok/serializers.py
  backend/pmbok/tests.py
  backend/pmbok/urls.py
  backend/pmbok/views.py
  backend/tprm/views.py
  enterprise/backend/enterprise_core/settings.py
  enterprise/frontend/src/lib/components/SideBar/navData.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/src/lib/components/Forms/ModelForm.svelte
  frontend/src/lib/components/Forms/ModelForm/AccreditationForm.svelte
  frontend/src/lib/components/Forms/ModelForm/FeatureFlagsSettingForm.svelte
  frontend/src/lib/components/Forms/ModelForm/GeneralSettingForm.svelte
  frontend/src/lib/components/Forms/ModelForm/GenericCollectionForm.svelte
  frontend/src/lib/components/SideBar/navData.ts
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/sidebar-config.ts
  frontend/src/lib/utils/table.ts
  frontend/src/lib/utils/types.ts
  frontend/src/routes/(app)/(internal)/accreditations/[id=uuid]/+page.server.ts
  frontend/src/routes/(app)/(internal)/accreditations/[id=uuid]/+page.svelte
  frontend/src/routes/(app)/(internal)/generic-collections/[id=uuid]/+page.server.ts
  frontend/src/routes/(app)/(internal)/generic-collections/[id=uuid]/+page.svelte
  tools/excel/intuitem/checklist-dossier-homologation.xlsx
Labels: High Value, db-migration

#2624 feat: add assigned_to filter for tasks
  backend/core/migrations/0101_alter_tasktemplate_assigned_to.py
  backend/core/models.py
  backend/core/views.py
  frontend/src/lib/components/Forms/ModelForm/GenericCollectionForm.svelte
  frontend/src/lib/utils/table.ts
Labels: db-migration

#2647 feat: data breach tracking
  backend/core/migrations/0103_alter_terminology_field_path.py
  backend/core/models.py
  backend/core/startup.py
  backend/pmbok/migrations/0001_initial.py
  backend/pmbok/models.py
  backend/pmbok/serializers.py
  backend/pmbok/views.py
  backend/privacy/migrations/0009_processing_assigned_to_databreach.py
  backend/privacy/models.py
  backend/privacy/serializers.py
  backend/privacy/urls.py
  backend/privacy/views.py
  backend/tprm/migrations/0007_entity_relationship.py
  backend/tprm/models.py
  backend/tprm/serializers.py
  backend/tprm/views.py
  cli/uv.lock
  enterprise/frontend/src/lib/components/SideBar/navData.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/src/lib/components/DetailView/DetailView.svelte
  frontend/src/lib/components/Forms/AutocompleteSelect.svelte
  frontend/src/lib/components/Forms/ModelForm.svelte
  frontend/src/lib/components/Forms/ModelForm/AccreditationForm.svelte
  frontend/src/lib/components/Forms/ModelForm/DataBreachForm.svelte
  frontend/src/lib/components/Forms/ModelForm/EntityForm.svelte
  frontend/src/lib/components/Forms/ModelForm/ProcessingForm.svelte
  frontend/src/lib/components/ModelTable/ModelTable.svelte
  frontend/src/lib/components/SideBar/navData.ts
  frontend/src/lib/utils/crud.ts
  frontend/src/lib/utils/schemas.ts
  frontend/src/lib/utils/table.ts
  frontend/src/lib/utils/types.ts
Labels: High Value, db-migration

#2594 feat(lib): Reference Controls for CIS v8.x.x Framework
  tools/excel/cis/README.md
  tools/excel/cis/convert_cis.bat
  tools/excel/cis/convert_cis.sh
  tools/excel/cis/prep_cis.py
  tools/excel/cis/requirements.txt
Labels: documentation, Framework
